img {
padding-bottom: 25px;
padding-top: 25px;
max-width:300px;
height: auto;
}

a { 
text-decoration:none; 
font-weight:400; 
font-family: Roboto; 
color:#fa9f1e;
}


.paper {
color:#d74e26;
font-weight:600; 
}


p {
margin: 1px 0;
}

p.one {
margin: 7px 0;
font-family: Roboto;
font-size:14px;
line-height:140%;
}

p.two {
margin: 25px 0;
}

.list li {
margin: 15px 0;
}	

.list--tight li {
margin: 6px 0;
}

h1{
color: #006837;
margin: 10px;
}

h2 {
color:#006837;
margin: 10px;
}

h3 {
color:#388ed1;
}
#general_info{
    margin: 20px;
}



#sidebar{
    margin-top:90px;
    text-align: right;
    width: 150px;
}

.nav-link{
    color:#388ed1;
}

.side {
list-style-type: none;
}

body {
background-color: #ffffff;
font-family: Roboto;
font-size:18px;
margin-left:25px;
margin-right:25px;
margin-top:70px;
margin-bottom:75px;
}
